# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg


*.DS_Store

# For TextMate
*.tmproj
tmtags

#api key info
keys.txt
spec/config.yml*.gem
*.rbc
*.swp
.bundle
.config
.yardoc
.rvmrc
.ruby-version
.ruby-gemset
Gemfile.lock
InstalledFiles
_yardoc
coverage/*
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
